<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		
		<!--script src="https://kit.fontawesome.com/4cc9603e69.js" crossorigin="anonymous"></script-->
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="style.css">

		<title>Simulation</title>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="../index.html">
			  <i class="fa fa-angle-left" width="30" height="10" alt=""></i>
			</a>
			
			<a class="nav item" href="#">Sign Up/In</a>
		</nav>
		<div class="container-fluid">
			<div class="row" style="border: 5px ridge grey">
				<div class="col-12 col-md-6">
					<div class="row" style="border: 5px ridge #8d9f9f; background-color: #c6cfcf;">
						<b>Score total : </b> <p id="scoreTotal">0</p>%
					</div>
					<div class="row align-items-center">
						<div class="col">
							<div id="score" class="alert hide" role="alert"></div>
							<div>
								<fieldset id="field">
									<div>
										<h5>Cliquez sur un strip de votre choix. Ensuite, cliquez sur <i class="fa fa-microphone" aria-hidden="true"></i> pour répondre. Une fois votre réponse est bien affichée, cliquez sur "check".</h5>
									</div>
								</fieldset>
							</div>
							<div><p id="pilote1" class="alert alert-dark hide" role="alert"></p><p id="atc" class="alert alert-primary hide"></p></div>
						</div>	
					</div>	 	
				</div>
				<div class="col-12 col-md-6">
					<div class="row" style="background-color: #1d3232; border: 10px inset #8d9f9f;">
						<div class="col table-responsive-md">
							<table class="table table-bordered table-dark ">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Piste en<br>service</th>
										<th scope="col">Wind</th>
										<th scope="col">Visib.</th>
										<th scope="col">Temp.</th>
										<th scope="col">QNH</th>
										<th scope="col">Niv.<br>Trans</th>
										<th scope="col">Time</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>26</td>
										<td>240º<br>10N</td>
										<td>5Km</td>
										<td>20ºC</td>
										<td>1013</td>
										<td>60</td>
										<td>15:37</td>
									</tr>
								</tbody>
							</table>
						</div>	
					</div>
					<div class="row strips">
						<div class="col">
							<button type="button" id="case1" class="btn btn-light btn-lg btn-block" ></button>
							<button type="button" id="case2" class="btn btn-light btn-lg btn-block" ></button>
							<button type="button" id="case3" class="btn btn-light btn-lg btn-block" ></button>
						</div>
						
					</div>
				</div>	
			</div>
		</div>
		<footer class="footer">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-12 col-md-2 order-first btn-group" role="group" aria-label="Basic example" >
						<button id="speek" type="button" class="btn btn-secondary" onclick="runSpeechRecognition()"><i class="fa fa-microphone" aria-hidden="true"></i></button>
						<button id="hint" type="button" class="btn btn-secondary" onclick="hint()">Hint</button>
					</div>
					<div class="col-12 col-md-9">
						<span id="action"></span>
						<p id="output" >Cliquez sur le micro pour répondre, ou "Hint" pour voir la réponse.</p>
					</div>
					<div class="col-12 col-md order-last">
						<button class="btn btn-secondary" id="submit" onclick="submit()">check</button>
					</div>
				</div>	
			</div>	
		</footer>
		<script src="../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../controller/json.js"></script>
		<script src="../model/app.js"></script>
	</body>
</html>