<!doctype html>
	<head>
		<link rel="stylesheet" href="style.css">
		<script src="https://kit.fontawesome.com/4cc9603e69.js" crossorigin="anonymous"></script>
		<script src="../model/app.js"></script>
		<title>Simulation</title>
	</head>
	<body>
		
		<h2 id="title" ></h2>
		<div>
			<b>Pilote : </b><p id="pilote" class="hide"></p>
			<button id="syn" onclick="synthesis()"><i class="fa fa-play-circle-o" aria-hidden="true"></i></button>&ThinSpace;<button onclick="showpilote()"><i class="fa fa-eye" aria-hidden="true"></i></button>
		</div> 
		<div>
			<p>Cliquez sur le bouton pour répondre</p>
        	<p><button id="button" type="button" onclick="runSpeechRecognition()"><i class="fa fa-microphone" aria-hidden="true"></i></button> &nbsp;  <span id="action"></span></p>
		</div>
		<div id="output" class="hide">	
		</div>
		<button onclick="submit()">check</button>
		<div id="atc" class="hide"></div>
		<script src="../controller/json.js"></script>
	</body>
</html>