body {
    font-family: Andale Mono, monospace;
    color:#112426 ;
    background-color: #b3bfbf
}

.footer {
    background-color: darkslategray;
    padding: 20px 0px; 
    height: 15% ;
}

.container {
    height: 75%;
}

#title {
    text-align : right ;
}

#output{
    background-color:#1C1A17;
    color:#7C7C7C;
    padding:10px;
    width: 100%;
    margin-top:20px;
    line-height:30px;
}

#output {
    border-radius:10px;
}

.hide {
    display:none;
}
.show {
    display:block;
}

#field {
    margin-top: 5%;
    margin-bottom: 5%;

    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

    text-align: center;
    font-size: large;
}


.table {
    margin-top: 5%;
    margin-bottom: 5%;
    display: table ;
    box-sizing: border-box;

}

.strips {
    padding: 2% 2% 2% 2%;
    background-color: #0c1515;
    border: 5px inset #8d9f9f;
}



#atcBlock, #pilote, #score{
    margin-bottom: 50px;
}

#case1, #case2, #case3 {
    margin-top : 5%  ;
    margin-bottom : 5%  ;
    border-radius:2px;
} 




